<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog List</title>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Catalogs</h1>
    <ul>
        <li><a href="/catalog/all">All Products</a></li>
        <th:block th:each="catalog : ${catalogs}">
            <li>
                <a th:href="@{/catalog/products(catalogId=${catalog.id})}" th:text="${catalog.name}"></a>
            </li>
        </th:block>
    </ul>
</div>
</body>
</html>
