<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <style>
        .product-list
        {
            display: flex;
        }
        .product
        {
            width: 250px;
            padding: 20px;
        }
    </style>
</head>
<body>
    <h1>Welcome to Spring Boot Security!</h1>
    <p>Let <a href="/welcome">do it now!</a></p>
    <div><a href="shopping/view">Xem giỏ hàng</a></div>
    <div class="product-list">
        <div class="product" th:each="product: ${products}" th:object="${product}">
            <div class="product-img"><img th:src="*{picture}"/> </div>
            <div class="product-name"><b><span th:text="*{name}"></span></b></div>
            <div class="product-price"><b><span th:text="*{price}"></span></b></div>
            <form th:action="@{shopping/addtocart}" method="post">
                    <input type="hidden" th:value="${product.id}" name="productId" id="productId">
                    <button type="submit">Buy</button>
            </form>
        </div>
    </div>
</body>
</html>